# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Always state the H0 and H1 before conducting the hypothesis test.
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [2]:
# Your code here:
df = pd.read_csv("Current_Employee_Names__Salaries__and_Position_Titles.csv")

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:

df.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:
df.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25528
Annual Salary         8174
Hourly Rate          25528
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:
df["Salary or Hourly"].value_counts()

Salary    25528
Hourly     8174
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
# Your code here:
df.groupby("Department").agg({"Name":pd.Series.count})

                      Name
Department
ADMIN HEARNG            38
ANIMAL CONTRL           75
AVIATION              1856
BOARD OF ELECTION      111
BOARD OF ETHICS          8
BUDGET & MGMT           44
BUILDINGS              258
BUSINESS AFFAIRS       167
CITY CLERK              88
CITY COUNCIL           362
COPA                   123
CULTURAL AFFAIRS        74
DAIS                  1033
DISABILITIES            28
FAMILY & SUPPORT       656
FINANCE                544
FIRE                  4627
HEALTH                 467
HOUSING                 66
HOUSING & ECON DEV     154
HUMAN RELATIONS         17
HUMAN RESOURCES         75
INSPECTOR GEN           95
LAW                    398
LICENSE APPL COMM        1
MAYOR'S OFFICE         104
OEMC                  1737
POLICE               13848
POLICE BOARD             2
PROCUREMENT             84
PUBLIC LIBRARY        1088
PUBLIC SAFETY ADMIN    244
STREETS & SAN         2175
TRANSPORTN            1113
TREASURER               28
WATER MGMNT           1914

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [7]:
# Your code here:

Part_time_Worker = df[df["Salary or Hourly"] == "Hourly"]

Part_time_Worker

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.00
5,"AGNEW, ANTONIO E",MOTOR TRUCK DRIVER,AVIATION,F,Hourly,40.0,NaN,37.45
15,"AGSALUD, FERNAN S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,40.78
16,"AGSALUD JR, JUANITO S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,38.52
21,"AGUAYO, LUIS M",LABORER - APPRENTICE,WATER MGMNT,F,Hourly,40.0,NaN,34.98
...,...,...,...,...,...,...,...,...
33676,"ZUNIGA, THOMAS",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,25.95
33678,"ZUNO, ERIK",CONSTRUCTION LABORER,WATER MGMNT,F,Hourly,40.0,NaN,43.72
33681,"ZURAWSKI, JEFFREY",FRM OF MACHINISTS - AUTOMOTIVE,DAIS,F,Hourly,40.0,NaN,51.43
33684,"ZUREK, FRANCIS",ELECTRICAL MECHANIC,PUBLIC SAFETY ADMIN,F,Hourly,40.0,NaN,49.35
33688,"ZWARYCZ, THOMAS J",MOTOR TRUCK DRIVER,WATER MGMNT,F,Hourly,40.0,NaN,37.45

In [8]:
#  mean of hourly wage of all hourly workers is significantly different from $30/hr


from scipy.stats import ttest_1samp
# Two-sided test:
# Null hypothesis or H0: mean of hourly wage value = 30
# Alternative hyp or H1: mean of hourly wage value <> 30

stat, pval = ttest_1samp(Part_time_Worker["Hourly Rate"], 30)
print('pvalue for the one-tailed test is ', pval)

pvalue for the one-tailed test is  3.825475847673794e-202

In [9]:
stat

31.211500329216044

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our Null hypothesis is less than or equal to, then to reject, the test statistic must be positive (rejects the <) and the p-value below 0.05 (rejects the =).

In [11]:
# Your code here:
a = df[(df["Department"] == ("POLICE" or "POLICE BOARD")) & (df["Salary or Hourly"] == "Salary")] 
a["Annual Salary"].mean()

88834.11892361111

In [16]:
# Null hypothesis or H0: mean of annual salary value <= 86000
# Alternative hyp or H1: mean annual salary value > 86000

stat, pval = ttest_1samp(a["Annual Salary"], 86000)
print('pvalue for the one-tailed test is ', pval/2)

pvalue for the one-tailed test is  6.119566952121482e-76

In [17]:
a["Annual Salary"].mean()

88834.11892361111

Using the `crosstab` function, find the department that has the most hourly workers.

In [ ]:
# Your code here:
depart_salary = pd.crosstab(df["Department"],df["Salary or Hourly"]) 
most_hourly_Dep = depart_salary.idxmax()
print(most_hourly_Dep)
print(depart_salary)

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [ ]:
# Your code here:
b = Part_time_Worker[Part_time_Worker["Department"] == "STREETS & SAN"]["Hourly Rate"]
b.mean()

In [ ]:
# One-sided test:
# Null hypothesis or H0: hourly wage value >= 35
# Alternative hyp or H1: hourly wage value < 35

stat, pval = ttest_1samp(b, 35)
print('pvalue for the one-tailed test is ', pval/2)

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [ ]:
# Your code here:
# we can find a confidence interval for the population based on our sample
import scipy.stats

confidence_level = 0.95
#confidence_level = 1  # WHAT HAPPENS NOW?
degrees_freedom = len(Part_time_Worker["Hourly Rate"]) - 1  # or, for large values of sample size, just use that
sample_mean = np.mean(Part_time_Worker["Hourly Rate"])
# note that we use the standard error of the sample 
# as an estimate of the standard error of the population (which is used in the theoretical formula)
sample_standard_error = scipy.stats.sem(Part_time_Worker["Hourly Rate"]) # sem = standard error of the mean = std(patients)/sqrt(degrees_freedom)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)
print(confidence_interval)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [ ]:
# Your code here:

a = df[(df["Department"] == "POLICE") &(df["Salary or Hourly"] == "Salary")]["Annual Salary"] 
# [(df["Salary or Hourly"] == "Salary")].count()
a
confidence_level = 0.95
#confidence_level = 1  # WHAT HAPPENS NOW?
degrees_freedom = len(a) - 1  # or, for large values of sample size, just use that
sample_mean = np.mean(a)
# note that we use the standard error of the sample 
# as an estimate of the standard error of the population (which is used in the theoretical formula)
sample_standard_error = scipy.stats.sem(a) # sem = standard error of the mean = std(patients)/sqrt(degrees_freedom)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)
print(confidence_interval)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [ ]:
# Your code here: